{% extends "base.html" %}
{% block content %}
<h2>Votre panier</h2>
<!-- Affiche les différentes commandes présentes dans le panier de l'utilisateur -->
{% for order in orders %}
<div class="card m-auto my-2" style="width: 18rem;">
    <img src="https://django-media-4327.s3.eu-north-1.amazonaws.com/media/{{order.offer.thumbnail}}" class="card-img-top mt-3 p-2" alt="{{order.offer.name}}">
    <div class="card-body">
      <h5 class="card-title">{{order.offer.name}}</h5>
      <p class="card-text">{{order.offer.description}}</p>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Prix unitaire : {{order.offer.price}} €</li>
        
        <li class="list-group-item">Quantité dans le panier : {{order.quantity}} </li>
        
      
       
        </ul>
    </div>`;
</div>


{% endfor %}
<!-- Affichage du prix total du panier -->
<div class="card mb-4 rounded-3 shadow-sm border-primary m-auto" style="width: 12rem;">
  <div class="card-header py-3 text-bg-primary border-primary">
    <h4 class="my-0 fw-normal">Prix total du panier</h4>
  </div>
  <div class="card-body">
    <h2 class="card-title pricing-card-title">{{total_price}} €</h2>
    
  </div>
</div>
<!-- mock destiné à simuler le paiement de la commande par carte bancaire.Utilisation du jeton CSRF de Django pour sécuriser la procédure -->
{% if user.is_authenticated %}
<form action="{% url 'checkout' %}" method="POST">
  {% csrf_token %}
  <fieldset class="border p-2">
    <p>Aucun paiement ne sera réellement effectué, c'est une simulation pour servir un projet de fin d'étude</p>
    <legend>Paiement</legend>
    <div class="mb-3 col-sm-6">
  <label for="name" class="form-label">Nom du titulaire de la carte bancaire :</label>
  <input type="text" required class="form-control">
  </div>
  <div class="mb-3 col-sm-6">
  <label for="numeroCarte" class="form-label">Numéro de carte bancaire :</label>
  <input type="text" id="numeroCarte" name="numeroCarte" inputmode="numeric" pattern="[0-9\s]{13,19}" placeholder="1234 5678 9012 3456" required class="form-control">
</div>
<div class="mb-3 col-sm-6">
    <label for="validity" class="form-label">Date de fin de validité (MM/AA) :</label>
  <input type="text" id="validity" name="validity" pattern="(0[1-9]|1[0-2])\/\d{2}" placeholder="MM/AA" required class="form-control">

</div>

  <button type="submit" class="btn btn-primary">Procéder au paiement</button>
</fieldset>
</form>
{% else %}
<p>Vous devez être inscrit et connecté pour procéder au paiement</p>
{% endif %}
<a href="{% url 'delete-cart' %}" class="btn btn-primary col-sm-3" id="btn-empty-cart">Vider le panier</a>


{% endblock %}