{% extends "base.html" %}
{% block content %}
<!-- Template permettant l'affichage du détail d'une offre. Lien permettant l'ajout de l'offre au panier de l'utilisateur. -->
<h2>{{offer.name}}</h2>

`<div class="card m-auto my-2" style="width: 24rem;">
    <img src="https://django-media-4327.s3.eu-north-1.amazonaws.com/media/{{offer.thumbnail.name}}" class="card-img-top mt-3 p-2" alt="{{offer.name}}">s
    <div class="card-body">
      <h5 class="card-title">{{offer.name}}</h5>
      <p class="card-text">{{offer.description}}</p>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Prix : {{offer.price}} €</li>
        
        <li class="list-group-item">Billets disponibles : {{offer.stock}} </li>
        <li class="list-group-item"><a href="{% url 'add-to-cart' offer.slug %}">Ajouter au panier</a></li>
        </ul>
    </div>`;
</div>
{% endblock %}