{% extends 'base.html' %}
{% block content %}
{% if tickets %}
<h2>Vos tickets pour les J.O.</h2>


{% for ticket in tickets %}
`<div class="card m-auto my-2" style="width: 24rem;">
    <img src="{{ticket.qrcode_ticket.url}}" class="card-img-top mt-3 p-2" alt="qr_code {{ticket.id}}">
    <div class="card-body">
      <h5 class="card-title">{{ticket.ticket_name}}</h5>
      <p class="card-text">Les tickets sont téléchargeables à tout moment</p>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="{{ticket.qrcode_ticket.url}}" download="qrcode_{{ticket.ticket_name}}">Télécharger le ticket </a></li>
    </ul>
      
    </div>`;
</div>
{% endfor %}
{% else %}
<h2>Vous n'avez pas encore acheté de ticket</h2>
{% endif %}
{% endblock %}



