{% extends "base.html" %}
{% block content %}

    <h2>Connexion</h2>
    <form action="" method="POST">
        {% csrf_token %}
        <p>
            <label for="username">Votre email</label>
            <input type="text" name="username" id="username" placeholder="L'email utilisé lors de la création de votre compte" required>
        </p>
        
        <p>
            <label for="password">Mot de passe</label>
            <input type="password" name="password" id="password" placeholder="mot de passe" required>
        </p>
        <input type="submit" value="Connexion">
    </form>


{% endblock %}