{% extends "base.html" %}
<!-- Template permettant la création d'un compte utilisateur. Utilisation du jeton CSRF de Django pour sécuriser le formulaire. -->
{% block content %}

    <h2>Création d'un compte utilisateur</h2>
    <form action="" method="POST">
        {% csrf_token %}
        <fieldset class="border p-2">
            <legend>Formulaire d'inscription</legend>
        <div class="mb-3 col-sm-6">
            <label for="username"class="form-label">Nom</label>
            <input type="text" name="username" id="username" placeholder="votre nom" required class="form-control">
        </div>
        <div class="mb-3 col-sm-6">
            <label for="firstname" class="form-label">Prénom</label>
            <input type="text" name="firstname" id="firstname" placeholder="votre prénom" required class="form-control">
        </div>
        <div class="mb-3 col-sm-6">
            <label for="email" class="form-label">Votre email</label>
            <input type="email" name="email" id="email" placeholder="exemple@truc.com" required class="form-control" >
        </div>
        <div class="mb-3 col-sm-6">
            <label for="password"  class="form-label">Mot de passe : 8 caractères minimum (majuscule, minuscule, chiffre, caractère spécial)</label>
            
            <input type="password" name="password" id="password" placeholder="8 caractères minimum" required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$#%&*])[A-Za-z\d@$#%&*]{8,}$" title="8 caractères minimum comprenant une minuscule, une majuscule, un chiffre et un caractère spécial (@, $, #, %, &, *)" class="form-control">

        </div>  
            
        <input type="submit" value="S'inscrire" class="btn btn-primary">
    </fieldset>
    </form>


{% endblock %}