*{
    margin: 0;
    
}

body{
    background-color: white;
}
h1{
    background-color: #5f5757;
    color: white;
    text-align: center;
    margin: 0;
    padding: 30px;
    font-size: 4rem;
    font-weight: 900;

}
h2{
    text-align: center;
    padding: 30px;
}

ul{
    list-style: none;
}
li{
    list-style: none;
}

fieldset{
    margin: 20px;
}

#nav-side{
    background-color: #5f5757;
    color: white;
}

#nav-link{
    color: white;
    text-decoration: none;
}
#id-connexion{
    color: white;
    text-decoration: none;
}

#btn-empty-cart{
    display: block;
    margin: 20px;
    
}


